html, body {
  width: 100%;
  height: 100%;
}
#smart{

  text-align: center;
  padding: 20px;
  font-size: 20;
  margin-bottom: auto;
    background-color: rgb(170, 170, 170);
  font-style: italic;


}
.progressBar{
  width: 550px;
  height: 60px;
  color: black;
  margin-bottom: 0px!important;
  background-color: black !important;
}
#frame{
  background-image: url("images/logo 4.png");
/*background-size:cover*/
  background-color: #cccccc;
background-repeat: no-repeat;
background-position: center;

height: 100%;


}
#font{
    font-size: 27px;
  font-family: 'Dangrek', cursive;
font-family: 'Share', cursive;


}
#container2 {
  /*width: 10px;*/
  height: 50px;
  position: relative;

}
#manyPeople{
  width: 250px;
  height: 50px;
  position: absolute;

}
.margin-zero{
  margin: 0px !important;
}
